.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 15px;

  .cart-page__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7rem;
  }

  .cart-page__shipping {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $light;
    padding: 20px;
    border-radius: 4px;
  }

  .cart-page__items {

  }

  .cart-page__form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 70%;

    div {

    }

    input {
      width: 100%;
      font-size: 1.6rem;
      border: 1px solid $input;
      padding: 17px 10px;
    }

    select {
      width: 100%;
      font-size: 1.6rem;
      background-color: white;
      border: 1px solid $input;
      padding: 17px 10px;
    }

    .form__wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .input__wrapper {
        display: flex;
        gap: 3rem;
      }
    }
    .input--default {
      border: 1px solid pink !important;
    }
    .input--error {
      border: 1px solid indianred;
      color: indianred;
    }

    .input--correct {
      border: 1px solid limegreen;
    }

  }
}

.checkout__form{
  padding: 4vw;
}
.cart {
  min-height: 70vh;

  .checkout-status {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
    font-weight: bold;
    .payment-success {
      * {
        color: green;
        font-size: 4rem;
      }
    }
    .payment-pending {
      * {
        color: darkorange;
        font-size: 4rem;
      }
    }
    .payment-error {
      * {
        color: indianred;
        font-size: 4rem;
      }
    }
  }
}

.cart--wrapper {
  width: 69%;
  margin: auto;
}

.cartItem {
  background-color: #F9F9F9;
  width: 30vw;
  height: 150px;
  display: flex;
  margin: 10px 0;

  .cartItem--container {
    width: inherit;
    height: inherit;
    display: flex;

    & > div {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3px;
    }

    .cartItem__img {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }

    h2 {
      font-size: 20px;
      font-weight: normal;
    }

    .cartItem__details {
      width: auto;
      font-size: 1.5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 10px;

      .cartItem__details__buttons {
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        margin-left: 1rem;
      }

      h3 {
        font-size: 1.5rem;
      }

      div {
        width: 100%;
        display: flex;
        justify-content: space-between;

      }

    }
  }
}

.dicount-modal__bg {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  z-index: 10;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.21);
}

.discount-modal {
  position: fixed;
  width: 300px;
  height: 200px;
  margin: 5% auto;
  left: 0;
  right: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 80px;
  background-color: $light;
  gap: 2rem;

  input {
    padding: 10px 10px;
    border: 1px solid $input;

  }

  button {
    font-size: 2.2rem;
    background: #FFC804;
    padding: 15px 50px;
    margin-right: 10px;
    text-transform: uppercase;
  }
}

.dashboard {

  background-color: $light;
  padding: 30px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 1.2rem;
    padding-top: 10px;
  }

  .cartButton {
    width: 100%;
    background-color: $yellow;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 16px 0;
  }

  .dashboard__discounts {

    h4, span {
      font-size: 1.5rem;
    }

    width: 100%;

    .dashboard__discounts__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > span {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .dashboard__discounts__login {
      button {
        font-weight: bold;
        width: 100%;
        text-align: center;
        margin: 10px 0;
        border: 1px solid $dark;
        padding: 15px 0;
      }
    }
  }

  .dashboard__billing {
    width: 100%;

    .dashboard__billing__details {
      & > div {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;

        span {
          font-size: 1.6rem;
        }
      }
    }

    .dashboard__billing__final {
      border-top: 1px solid black;
      font-weight: bold;
      padding: 25px 0;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 800px) {
  .cart-page {
    text-align: center;
  }
  .cart-page__form {
    align-items: center;
    width: 100% !important;

    .form__wrapper {
      width: 100%;
    }
  }
  .cart-page__container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

  }
  .cartItem {
    width: 100%;
  }
  .dashboard {
    width: 100%;
  }
}
